/////////////////////
// HEADER
/////////////////////

.header {
  padding: 0 10rem;
  min-height: 100vh;
  position: relative;

  @media only screen and (max-width: $bp-small) {
    padding: 0 5rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    padding: 0 2rem;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url(/img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    filter: brightness(30%);
  }
}

/////////////////////
// SECTIONS
/////////////////////

/* SECTION FOOD */

/* SECTION FEATURES */
.sectionFeatures {
  padding: 8rem;
  color: var(--color-grey);
  background-color: var(--color-grey-light);
}

/* SECTION MENU */
/* SECTION LOCATIONS */
/* SECTION FORM */
.sectionGallery,
.sectionCities,
.sectionForm,
.sectionWorks,
.sectionPlans,
.sectionReviews,
.sectionFeatures {
  padding: 8rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 6rem;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 3rem 2rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    padding: 3rem 1rem;
  }
}

/* SECTION HOW IT WORKS */
.sectionWorks {
  background-color: var(--color-grey-light);
}

/* SECTION USERS REVIEWS */

.sectionReviews {
  position: relative;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media only screen and (max-width: $bp-average) {
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-image: url(../img/back-customers.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    z-index: -1;
    filter: brightness(20%);
  }
}

/* SECTION PLANS */

.sectionPlans {
  background: var(--color-grey-light);
}

/////////////////////
// FOOTER
/////////////////////

.footer {
  min-height: 25vh;
  padding: 5rem;
  background-color: var(--color-grey-dark);
  font-size: 1.4rem;
  color: var(--color-grey-light-2);

  @media only screen and (max-width: $bp-medium) {
    min-height: 15vh;
    padding: 3rem;
  }
}
