:root {
  --color-primary: #248541;
  --color-primary-dark: #1e6934;

  --color-white: #fff;
  --color-grey: #555555;
  --color-grey-dark: #333;
  --color-grey-light: #f4f4f4;
  --color-grey-light-2: #888;
  --color-black: #000;
}
